<div class="row py-4">
    <div class="col">
        <h1>Noticias</h1>
    </div>
    <div class="col text-end">
        <button class="btn btn-primary btn-sm" (click)="showCreatePostComponent()">Nuevo post</button>
    </div>
</div>
<ng-container *ngFor="let post of posts">
    <div class="card position-relative mb-3">
        <div class="row">
            <div class="col-3">
                <img class="img-fluid" src="{{ post.photo }}" alt="">
            </div>
            <div class="col-9 py-3">
                <h2>{{ post.title }}</h2>
                <span>{{ post.date }}</span>
                <p>{{ post.description }}</p>
                <div class="text-end px-3">
                    <button class="btn btn-primary btn-sm">Ver más</button>
                </div>
            </div>
            <div class="position-absolute top-0 end-0 pt-3 pe-3 w-auto">
                <i class="bi bi-pencil-square"></i>
            </div>
        </div>
    </div>

</ng-container>
